.container{
    composes:container from '../../pages/app/app.css';
    display: flex;
    flex-direction: column;
}
.sliderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.typeButton{
    display: flex;
    margin-bottom: 30px;
}
.actors{
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}