.description {
  composes: description from "../../movie/movieInfo/movieInfo.module.css";
}

.description p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.description div {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  content: "ochish";
}

.description div:hover {
  cursor: pointer;
}

.btn{
  display: flex;
  width: fit-content;
  padding: 10px;
  border: none;
  outline: none;
  background: #D7141D;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  transition: all .1s ease-in-out;
}
.btn:hover{
  background: #e72e37;
  cursor: pointer;
}
.btn:active{
  background: #9c080f;
}