@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  user-zoom: unset;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 120px;
  /* overflow: hidden; */
}

@media only screen and (max-width: 1110px) {
  .container {
    max-width: 1024px !important;
    width: 100% !important;
    overflow: visible !important;
  }
}

@media only screen and (max-width: 970px) {
  .container {
    max-width: 950px !important;
    width: 100% !important;
    overflow: visible !important;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 0 70px !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 815px) {
  .container {
    max-width: 760px !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    max-width: 400px !important;
    padding: 0 !important;
    padding-right: 5px !important;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    max-width: 400px !important;
    padding: 0 !important;
    padding-right: 5px !important;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 350px !important;
    padding: 0 !important;
    padding-right: 5px !important;
  }
}
@media screen and(max-width: 1120px) {
  .container {
    padding: 0 120px !important;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    max-width: 320px !important;
    padding: 0 15px !important;
    margin: 0 !important;
  }
}
