.row-container * {
    font-family: 'Montserrat', sans-serif;
}

.row-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 10px;
}

.title-category{
    display: flex;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    line-height: 29px;
    align-items: center;
}

@media (max-width:900px) {
    .title{
        font-size: 18px;
    }
}
.favourites img:hover{
    cursor: pointer;
}